.contenedor {
  height: 75px;
  width: auto;
  background: linear-gradient(66.17deg, white 31.35%, grey 65.73%);
  display: flex;
  align-items: center;
}
.contenedor__img-logo {
  height: 40px;
  margin: 5px 0 0 25px;
}
