* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.bienvenida {
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 13, 0.75), rgba(5, 7, 12, 1)),
    url(../assets/portada-movil-1-prueba.jpg);
}
@media (min-width: 675px) {
  .bienvenida {
    background: linear-gradient(rgba(5, 7, 13, 0.75), rgba(5, 7, 12, 1)),
      url(../assets/portada-desktop-3.jpg);
  }
}
.bienvenida__contenedor {
  fill: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bienvenida__contenedor-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-catmetal {
  width: 250px;
  margin-top: 30px;
}
.text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.1em;
  font-weight: 400;

  margin: 0 0 30px;
  font-family: "Rubik", sans-serif;
  text-shadow: 30px 10px 10px green;
  -webkit-text-fill-color: lavender;
  -webkit-text-stroke: white 0.1px;
}
.img__logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.presentacion {
  padding: 70px 30px;
}
.title_text {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 0;
  padding: 70px 0 25px 0;
  border-bottom: solid 3px cadetblue;
  color: cadetblue;
}
.servicios__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9eb7e52b;
  padding-bottom: 20px;
}
.servicios__text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding: 25px 35px 20px;
  margin: 0;
}
.ul-custom {
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-top: 20px;
  padding: 20px;
  box-shadow: inset 0 0em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 30%);
  border-radius: 5px;
  width: 290px;
}
.descipcion__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.img_whats {
  width: 60px;
  height: 62px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 61px;
    height: 61px;
    line-height: 66px;
  }
  .img_whats {
    width: 63px;
    height: 63px;
  }
}
.btn-wsp:hover {
  background: #20ba5a;
}
.contenedor-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9eb7e52b;
}
.contacto__ico {
  width: 32px;
  height: 32px;
  margin-left: 20px;
}
.contacto__info {
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}
.info {
  padding: 0;
  margin-left: 15px;
}
.text__ubi {
  margin: 0;
  padding-top: 5px;
}
.texto-info {
  margin: 0;
  padding-bottom: 5px;
}
.video-el {
  margin-top: 20px;
}
.maps__contenedor {
  margin: 50px 0 0 0;
}
.links {
  text-decoration: none;
  color: black;
}
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.RAEEs {
  color: black;
  border: none;
  font-size: 30px;
  margin-right: auto;
  margin-left: 35px;
}
.contenedor-rubro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn,
.btn__volver,
.btn__inicio {
  width: 200px;
  height: 55px;
  padding: 0;
  border-radius: 5px;
  font-size: 15px;
  background-color: mediumseagreen;
  border: none;
}
.btn_2 {
  margin-right: auto;
  margin-left: 35px;
}
.btn__volver {
  width: 100px;
  display: none;
}
.contenedor__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
ul {
  list-style: none;
}
.img__services {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.cont__serv {
  display: flex;
}
