* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.bienvenida {
  height: 668px;
  width: 100%;
  padding-top: 102px;
  background: linear-gradient(rgba(5, 7, 13, 0.75), rgba(5, 7, 12, 1));
}
@media (min-width: 960px) {
  .bienvenida {
    height: 500px;
    background: linear-gradient(rgba(5, 7, 13, 0.75), rgba(5, 7, 12, 1));
  }
}
.bienvenida__contenedor {
  fill: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .bienvenida__contenedor {
    flex-direction: initial;
    justify-content: space-evenly;
  }
}
.bienvenida__contenedor-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 960px) {
  .bienvenida__contenedor-text {
    justify-content: initial;
  }
}
.logo-catmetal {
  width: 200px;
  margin-top: 30px;
  box-shadow: 1px 0px 14px mediumspringgreen;
  border-radius: 10px;
}
@media (min-width: 960px) {
  .logo-catmetal {
    width: 250px;
    margin: 0;
    margin-bottom: 25px;
  }
}
.contenedor-ul-bienvenidos {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  display: flex;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
}
.contenedor-ul-bienvenidos__custom {
  animation: cambioText 12s infinite;
  padding-left: 10px;
  list-style: none;
  margin: 0;
}
@keyframes cambioText {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -40px;
  }
  45% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  70% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
.li-bienvenidos {
  color: white;
  list-style: none;
  margin: 0;
  font-size: 25px;
}
@media (min-width: 960px) {
  .li-bienvenidos {
    font-size: 30px;
  }
}
.text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.1em;
  font-weight: 400;

  margin: 0 0 30px;
  font-family: "Rubik", sans-serif;

  -webkit-text-fill-color: lavender;
  -webkit-text-stroke: white 0.1px;
}
@media (min-width: 960px) {
  .text {
    margin: 144px 90x 87px 0px;
    width: 450px;
    font-size: 37px;
  }
}
.img__logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.descripcion {
  padding: 100px 0 0 0;
}
.presentacion {
  padding: 30px 30px;
}
@media (min-width: 960px) {
  .presentacion {
    padding: 0 0 0 0;
  }
}
.title_text {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 0;
  padding: 0px 0 15px 0;
  border-bottom: solid 3px cadetblue;
  color: cadetblue;
}
.section-valores {
  padding: 100px 0 0 0;
  background-color: #f1fbf9;
}
.text_serv,
.valores {
  text-align: center;
  width: 295px;
  margin: auto;
}

.contenedor__widget {
  padding: 50px 10px 0;
  display: flex;
  flex-direction: column;
  width: 98%;
  align-items: center;
}
@media (min-width: 960px) {
  .contenedor__widget {
    height: 260px;
    margin: 40px 10px 0;
    flex-direction: initial;
    align-items: initial;
  }
}
.widget {
  width: 80%;

  padding: 0 20px;
}
@media (min-width: 960px) {
  .widget {
    height: 200px;
  }
}
.valores__title-widget {
  color: cadetblue;
  font-family: "Roboto", sans-serif;
}
.valores__texto-widget {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.servicios__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9eb7e52b;
  padding-bottom: 20px;
}
.servicios__text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding: 25px 35px 20px;
  margin: 0;
}
@media (min-width: 960px) {
  .servicios__text {
    padding: 20px 0 0 0;
    width: 600px;
  }
}
.ul-custom {
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding-top: 20px;
  padding: 20px;
  box-shadow: inset 0 0em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 30%);
  border-radius: 5px;
  width: 290px;
}
@media (min-width: 960px) {
  .ul-custom {
    width: 326px;
    font-size: 20px;
  }
}
.descipcion__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 960px) {
  .descipcion__contenedor {
    flex-direction: initial;
    justify-content: space-evenly;
    padding-left: 10px;

    align-items: initial;
  }
}
.descripcion__contenedor_info {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 960px) {
  .descripcion__contenedor_info {
    align-items: flex-start;
  }
}
.servicios {
  background-color: #9eb7e52b;
  padding: 100px 0;
}

.servicios__contenedor-info-y-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .servicios__contenedor-info-y-video {
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.img_whats {
  width: 60px;
  height: 62px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 61px;
    height: 61px;
    line-height: 66px;
  }
  .img_whats {
    width: 61px;
    height: 63px;
  }
}
.btn-wsp:hover {
  background: #20ba5a;
}
.contenedor-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
}
@media (min-width: 960px) {
  .contenedor-contacto {
    flex-direction: initial;
    justify-content: space-evenly;
  }
}

.contacto__ico {
  width: 32px;
  height: 32px;
  margin-left: 20px;
}
.contacto__info {
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}
.info {
  padding: 0;
  margin-left: 15px;
}
@media (min-width: 960px) {
  .info {
    width: 400px;
  }
}
.text__ubi {
  margin: 0;
  padding-top: 5px;
}
.texto-info {
  margin: 0;
  padding-bottom: 5px;
}
.video-el {
  margin-top: 20px;
}
@media (min-width: 960px) {
  .video-el {
    width: 324px;
    height: 383px;
    margin-right: 20px;
  }
}
.maps__contenedor {
  margin: 50px 0 0 0;
}
.links {
  text-decoration: none;
  color: black;
}
.slider {
  width: 350px;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 960px) {
  .slider {
    width: 616px;
    height: 400px;
    margin: inherit;
  }
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.rubro {
  background: linear-gradient(rgba(5, 7, 13, 0.75), rgba(5, 7, 12, 1)),
    url("../assets/residuos-2.webp");
  padding: 100px 0 28px 0;
  color: #fff;
}
.RAEEs {
  color: #fff;
  border: none;
  font-size: 30px;
  margin-right: auto;
  margin-left: 35px;
}
@media (min-width: 960px) {
  .RAEEs {
    margin-right: inherit;
  }
}
.contenedor-rubro {
  display: flex;
  flex-direction: column;
}
@media (min-width: 960px) {
  .contenedor-rubro {
    align-items: center;
  }
}
.btn,
.btn__volver,
.btn__inicio {
  width: 200px;
  height: 55px;
  padding: 0;
  border-radius: 5px;
  font-size: 15px;
  background-color: mediumseagreen;
  border: none;
}
.btn_2 {
  margin-right: auto;
  margin-left: 35px;
}
@media (min-width: 960px) {
  .btn_2 {
    margin-right: inherit;
    margin: 64px 0;
  }
}
.btn__volver {
  width: 100px;
  display: none;
}
.contenedor__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
ul {
  list-style: none;
}
.img__services {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.cont__serv {
  display: flex;
}
.slider .services__img-desktop {
  display: none;
}
@media (min-width: 960px) {
  .slider .services__img-desktop {
    display: flex;
  }
}
@media (min-width: 960px) {
  .slider .services__img-movil {
    display: none;
  }
}
.contenedor-contacto-text-y-ubi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .contenedor-contacto-text-y-ubi {
    padding-left: 60px;
    width: 500px;
    padding-bottom: 100px;
  }
}
